.main-wrapper{
  height: 100vh;
}

.logo img{
  width: 45px;
  margin-right: 20px;
}

.logo span{
  font-weight: bold;
  font-size: 30px;
}

main{
  background-color: aquamarine;
  flex-grow: 1;
}

.grid{
  width: 500px;
  height: 500px;
}

.cell{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

.cell.clicked{
  background-color: #6495ED;
  color: white;
}

.cell.bomb{
  background-color: brown;
  color: white;
}